#root {
   padding-bottom: calc(var(--tg-safe-area-inset-bottom) + var(--tg-content-safe-area-inset-bottom)); 
}

html, body, #root, #root>div {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    /* fix telegram sliding down on mobiles */
    /* touch-action: none !important; */
}

.outdated-container {
    align-self: center;
    justify-content: center;
    font-family: Inter, serif;
    text-align: center;
}
